.instruction {
  font: normal 15px Helvetica, Arial, sans-serif;
  margin: 0 0 20px;
  text-align: left;
}

.error {
  font: normal 15px Helvetica, Arial, sans-serif;
  letter-spacing: -0.05em;
  line-height: 20px;
  margin: 0 0 20px;
  color: red;
  text-align: left;
}

.send_button {
  width: 200px;
}